AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=
BUCKET_NAME=

# mlflow
MLFLOW_TRACKING_URI=
MLFLOW_PG_USER=
MLFLOW_PG_PASSWORD=
MLFLOW_PG_DATABASE=
MLFLOW_BUCKET_NAME=
MLFLOW_EXPERIMENT_NAME=
MLFLOW_INFERENCE_MODEL_NAME=
MLFLOW_PORT=

# Model as Service
MODEL_SERVICE_API_PORT=
MODEL_SERVICE_API_TITLE=
MODEL_SERVICE_API_DESCRIPTION=
MODEL_SERVICE_API_VERSION=
# Business Service
BUSINESS_SERVICE_API_PORT=
BUSINESS_SERVICE_API_TITLE=
BUSINESS_SERVICE_API_DESCRIPTION=
BUSINESS_SERVICE_API_VERSION=
#
SERVICE_MODEL_API=
# Prometheus
PROMETHEUS_PORT=
# Alertmanager
ALERTMANAGER_PORT=
# Grafana
GRAFANA_PORT=