[MASTER]
disable=
    C0114,
    C0115,
    C0116,
    W0718,
    W0106,
    W0613,
    R0801,
    E0401,
    W1203,
    E1120,
    R1732,
    W1514,
    C0103,
    W0603

ignore=.venv, venv, triton, api_tests

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
disable=too-few-public-methods